# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://evlp_admin:super_secret_123@localhost:5432/evlp_database?schema=public"

# JWT 相关设置（这里的secret为示例，请根据实际情况修改）
JWT_SECRET=1d966bd0ff8188ffbdc45022dda55f76b3fdde160d76668a8a2348031c120f5cba7b27d0b064c58c7d06dbc257a6a26826608f90a75fa1a9e45cba4e04c88a9d
JWT_EXPIRES_IN=1d

# 服务器端口
PORT=3000

# 高德地图 API 密钥
AMAP_API_KEY=Your API Key

# 静态资源目录
STATIC_DIR=evlp_static
# STATIC_DIR=~/evlp_static
